button{
    background: none;
    border: none;
    cursor: pointer;

}
h1{
    font-size: 50px;
}


#progress{
    cursor: pointer;
    width: 248px;

}


#container{
    width: 400px;
    height: 600px;
    margin: 50px auto;
   position: relative;
   text-align: center;
   border: 2px solid black;
}

#play-section{
    position: absolute;
    bottom: 10px;
   padding-left: 80px;

}
i{
    font-size: 1.7rem;
}
.song-item{
border: 1px solid black;
width: 60%;
margin: 10px auto;
padding: 5px 0;
border-radius: 20px;
cursor: pointer;
list-style: none;
}
.song-item:hover{
    background-color: rgb(169, 181, 193);
 }
